<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Harvest Cloud{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/harvestcloudcore/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/styles.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/layout.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/colors.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/panels.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/category_panels.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/harvestcloudcore/css/columns.css') }}" type="text/css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block map_js %}
        {% endblock %}

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ google_analytics_key }}']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="page">
            <div id="headerWrapper">
                <div id="header">
                    <div class="logo_and_main_nav">
                        <div class="main_logo">
                            <a href="{{ path('_welcome') }}"><span>Harvest Cloud</span></a>
                        </div><!-- .main_logo -->
                        <div class="main nav">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <a class="profile" href="{{ path('Profile_show', { 'slug': app.user.currentProfile.slug }) }}">{{ app.user.currentProfile.name }}</a>
                            {% else %}
                                <a class="profile" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                            <a class="cart" href="{{ path('Buyer_cart_show') }}" class="cart"><span class="hide_sub_tablet_portrait">Cart: </span>{% render "HarvestCloudCoreBundle:Buyer/Cart:sub_total" %}</a>
                            <span class="clear"></span>
                        </div><!--.main.nav -->
                        <div class="clear"></div>
                    </div><!-- .logo_and_main_nav -->
                    {% block subnav %}
                    {% endblock %}
                </div><!-- #header -->
            </div><!-- #headerWrapper -->
            <div id="contentWrapper">
                <div id="content">
                    <div class="flash">
                        {% for notice in app.session.flashbag.get('notice') %}
                            <div class="notice">
                                <strong class="ok">✓</strong> {{ notice }}
                            </div><!-- .notice -->
                        {% endfor %}
                    </div><!-- .flash -->
                    {% block content %}
                    {% endblock %}
                </div><!-- #content -->
            </div><!-- #contentWrapper -->

            <div id="footerWrapper">
                <div id="footer">
                    <ul id="mainNav">
                        <li class="buy">
                            <h3><a class="level one" href="{{ path('Buyer_homepage') }}">Buy</a></h3>
                            <ul>
                                <li><a href="{{ path('Order_homepage') }}">Order History</a></li>
                                <li><a href="{{ path('Buyer_homepage') }}">Products</a></li>
                                <li><a href="{{ path('Buyer_hub_nearby') }}">Nearby Hubs</a></li>
                                <li><a href="{{ path('Buyer_invoice') }}">Invoices</a></li>
                            </ul>
                        </li><!-- .buy -->
                        <li class="sell">
                            <h3><a class="level one" href="{{ path('Seller_homepage') }}">Sell</a></h3>
                            {% if app.user.currentProfile.hasActiveSellerStatus %}
                                <ul>
                                    <li><a href="{{ path('Seller_product') }}">Products</a></li>
                                    <li><a href="{{ path('Seller_seller_window') }}">Seller Windows</a></li>
                                    <li><a href="{{ path('Seller_window_maker') }}">Recurring Seller Windows</a></li>
                                    <li><a href="{{ path('Seller_hub_nearby') }}">Nearby Hubs</a></li>
                                </ul>
                            {% endif %}
                        </li><!-- .sell -->
                        <li class="hub">
                            <h3><a class="level one" href="{{ path('Hub_homepage') }}">Hub</a></h3>
                            {% if app.user.currentProfile.hasActiveHubStatus %}
                                <ul>
                                    <li><a href="{{ path('Hub_window_maker') }}">Recurring Hub Windows</a></li>
                                </ul>
                            {% endif %}
                        </li><!-- .hub -->
                        <li class="cart">
                            <h3><a class="cart" href="{{ path('Buyer_cart_show') }}" class="cart">Cart {% render "HarvestCloudCoreBundle:Buyer/Cart:sub_total" %}</a></h3>
                        </li><!-- .cart -->
                        <li class="context">
                            <h3><a class="level one" href="{{ path('Buyer_homepage') }}">Context Menu</a></h3>
                            <ul>
                                <li><a href="{{ path('Profile_show', { 'slug': app.user.currentProfile.slug }) }}">Profile</a></li>
                                <li><a href="{{ path('Profile_location') }}">Locations</a></li>
                                <li><a href="{{ path('Profile_account') }}">Accounts</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                {% endif %}
                            </ul>
                        </li><!-- .context -->
                    </ul><!-- #mainNav -->
                    <div class="clear"></div>
                    <p>{{ exchange_manager.exchange }}</p>
                </div><!-- #footer -->
            </div><!-- #footerWrapper -->
        </div><!-- #page -->
    </body>
</html>
