{% extends 'HarvestCloudMarketPlaceSellerBundle::layout.html.twig' %}

{% block content %}
    <h1>My Orders as a Seller</h1>

    <div class="two_equal_columns">
        <div class="left column">
            <h4>Open Orders</h4>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Buyer</th>
                        <th>Hub</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                          <td>{{ order.id }}</td>
                          <td>{{ order.buyer.name }}</td>
                          <td>
                              {%  if order.hub %}
                                  {{ order.hub.name }}
                              {% else %}
                                  <em>Unknown</em>
                              {% endif %}
                          </td>
                          <td>${{ order.total|number_format(2) }}</td>
                          <td>{{ order.status }}</td>
                          {% if 1 == 2 %}
                          <td class="actions">
                              {% if order.canBeAcceptedBySeller %}
                                  <form action="{{ path('Seller_order_accept', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Accept" />
                                  </form>
                              {% endif %}
                              {% if order.canBeRejectedBySeller %}
                                  <form action="{{ path('Seller_order_reject', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Reject" />
                                  </form>
                              {% endif %}
                              {% if order.canBePickedBySeller %}
                                  <form action="{{ path('Seller_order_pick', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Pick" />
                                  </form>
                              {% endif %}
                              {% if order.canBeMarkedReadyForDispatchedBySeller %}
                                  <form action="{{ path('Seller_order_mark_ready_for_dispatch', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Ready for dispatch" />
                                  </form>
                              {% endif %}
                              {% if order.canBeDispatchedBySeller %}
                                  <form action="{{ path('Seller_order_dispatch', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Dispatch" />
                                  </form>
                              {% endif %}
                              {% if order.canBeCanceledByBuyer %}
                                  <form action="{{ path('Buyer_order_cancel', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Cancel" />
                                  </form>
                              {% endif %}
                              {% if order.canBeReceivedByHub %}
                                  <form action="{{ path('Hub_order_receive', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Receive" />
                                  </form>
                              {% endif %}
                              {% if order.canBeMarkedReadyToBePickedUpFromHub %}
                                  <form action="{{ path('Hub_order_mark_as_ready_to_pickup', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Ready to pick up" />
                                  </form>
                              {% endif %}
                              {% if order.canBeReleasedByHub %}
                                  <form action="{{ path('Hub_order_release', { 'id': order.id }) }}" method="post">
                                      <input type="submit" class="submit button" value="Release" />
                                  </form>
                              {% endif %}
                              <span class="clear"></span>
                          </td><!-- .actions -->
                          {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- .left.column -->
        <div class="right column">
            {% if order %}
                <h4>Order Details</h4>
                <table class="nvp">
                    <tr>
                        <th>Order Number</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ order.status }}</td>
                    </tr>
                    <tr>
                        <th>Buyer</th>
                        <td>{{ order.buyer.name }}</td>
                    </tr>
                    <tr>
                        <th>Hub</th>
                        <td>{{ order.hub.name }}</td>
                    </tr>
                    <tr>
                        <th>Window</th>
                        <td>{{ order.sellerWindow.startTime|date('g:ia') }} - {{ order.sellerWindow.endTime|date('g:ia D j M') }}</td>
                    </tr>
                    <tr>
                        <th>Sub Total</th>
                        <td>${{ order.subTotal }}</td>
                    </tr>
                    <tr>
                        <th>Hub Fee</th>
                        <td>${{ order.hubFee }}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>${{ order.total }}</td>
                    </tr>
                </table><!-- .nvp -->

                <h4>Line Items</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th class="center">Quantity</th>
                            <th class="center">Price</th>
                            <th class="center">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lineItem in order.lineItems %}
                            <tr>
                                <td>{{ lineItem.product.name }}</td>
                                <td class="center">{{ lineItem.quantity }} {{ lineItem.unit }}</td>
                                <td class="center">${{ lineItem.price|number_format(2) }}/{{lineItem.product.category.unitDescriptionSingular }}</td>
                                <td class="currency">${{ lineItem.subTotal|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="actions">
                    <h4>Actions</h4>
                    {% if order.canBeAcceptedBySeller %}
                        <form action="{{ path('Seller_order_accept', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Accept" />
                        </form>
                    {% endif %}
                    {% if order.canBeRejectedBySeller %}
                        <form action="{{ path('Seller_order_reject', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Reject" />
                        </form>
                    {% endif %}
                    {% if order.canBePickedBySeller %}
                        <form action="{{ path('Seller_order_pick', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Pick" />
                        </form>
                    {% endif %}
                    {% if order.canBeMarkedReadyForDispatchedBySeller %}
                        <form action="{{ path('Seller_order_mark_ready_for_dispatch', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Ready for dispatch" />
                        </form>
                    {% endif %}
                    {% if order.canBeDispatchedBySeller %}
                        <form action="{{ path('Seller_order_dispatch', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Dispatch" />
                        </form>
                    {% endif %}
                    {% if order.canBeCanceledByBuyer %}
                        <form action="{{ path('Buyer_order_cancel', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Cancel" />
                        </form>
                    {% endif %}
                    {% if order.canBeReceivedByHub %}
                        <form action="{{ path('Hub_order_receive', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Receive" />
                        </form>
                    {% endif %}
                    {% if order.canBeMarkedReadyToBePickedUpFromHub %}
                        <form action="{{ path('Hub_order_mark_as_ready_to_pickup', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Ready to pick up" />
                        </form>
                    {% endif %}
                    {% if order.canBeReleasedByHub %}
                        <form action="{{ path('Hub_order_release', { 'id': order.id }) }}" method="post">
                            <input type="submit" class="submit button" value="Release" />
                        </form>
                    {% endif %}
                    <div class="clear"></div>
                </div><!-- .actions -->
            {% endif %}
        </div><!-- .right.column -->
        <div class="clear"></div>
    </div><!-- .two_equal_columns -->
{% endblock %}
