{% extends 'HarvestCloudMarketPlaceBuyerBundle::layout.html.twig' %}

{% block content %}
    <h1>Order History</h1>

    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Seller</th>
                <th>Hub</th>
                <th>Order Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                  <td><a href="{{ path('Buyer_order_show', { 'id': order.id }) }}">{{ order.number }}</a></td>
                  <td>{{ order.seller.name }}</td>
                  <td>
                      {%  if order.hub %}
                          {{ order.hub.name }}
                      {% else %}
                          <em>Unknown</em>
                      {% endif %}
                  </td>
                  <td>${{ order.total|number_format(2) }}</td>
                  <td>{{ order.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
