{% extends 'HarvestCloudCoreBundle:Buyer:layout.html.twig' %}

{% block body_class %}buyer_product_show{% endblock %}
{% block buyer_content %}
    <h1>{{ product.name }}</h1>
    <div class="two_equal_columns">
        <div class="left column">
            <h2>Product details</h2>
            <table class="nvp">
                <tr>
                    <th>Name</th>
                    <td>{{ product.name }}</td>
                </tr>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <tr>
                        <th>Seller</th>
                        <td>{{ product.seller.name }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Location</th>
                    <td>{{ product.location.cityStateZip }}</td>
                </tr>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <tr>
                        <th>Price</th>
                        <td>${{ product.price }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th><abbr title="Quantity">Qty</abbr> available</th>
                    <td>{{ product.quantityAvailable }} {{ product.unitAvailable }}</td>
                </tr>
                <tr>
                    <th><abbr title="Quantity">Qty</abbr> in cart</th>
                    <td>{{ quantity_in_cart }} {{ product.unitInCart }}</td>
                </tr>
            </table><!-- .nvp -->
            <form action="{{ path('Profile_product_cart_quantity', { 'product_slug': product.slug, 'slug': product.seller.slug }) }}" method="post" {{ form_enctype(form) }}>
                <div class="form row">
                    {{ form_widget(form.quantity) }}
                    {{ form_rest(form) }}
                    {% if quantity_in_cart %}
                        <input type="submit" class="submit button" value="Update cart" />
                    {% else %}
                        <input type="submit" class="submit button" value="Add to cart" />
                    {% endif %}
                </div><!-- .form.row -->
            </form>
            <form method="get" action="{{ path('Buyer_checkout_window') }}">
                <div class="form row">
                    <input type="submit" class="submit button" value="Check out &#187;" />
                </div><!-- .form.row -->
            </form>
        </div><!-- .left.column -->
        <div class="right column">
            {% if product.seller.hasSellerHubRefsAsSeller %}
                <h2>{{ product.name }} available from the following hubs</h2>
                <div class="panels">
                    {% for sellerHubRef in product.seller.sellerHubRefsAsSeller %}
                        <a href="{{ path('Profile_show', { 'slug': sellerHubRef.hub.slug }) }}" class="panel" title="{{ sellerHubRef.hub }}">
                            <div class="inner">
                                <div class="thumbnail">
                                    {% if sellerHubRef.hub.thumbnailPath %}
                                        <img src="{{ sellerHubRef.hub.thumbnailWebPath }}" />
                                    {% else %}
                                        <img src="/images/sandbox/avatars/{{ sellerHubRef.hub.id }}.png" />
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <h4>{{ sellerHubRef.hub }}</h4>
                                    <div class="address">{{ sellerHubRef.hub.defaultLocation.cityState }}</div>
                                </div><!-- .details -->
                                <div class="clear"></div>
                            </div><!-- .inner -->
                        </a><!-- .panel -->
                    {% endfor %}
                    <div class="clear"></div>
                </div><!-- .panels -->
            {% endif %}
        </div><!-- .right.column -->
        <div class="clear"></div>
        <div class="clear"></div>
    </div><!-- .two_equal_columns -->
{% endblock %}
