{% extends 'HarvestCloudCoreBundle:Buyer:layout.html.twig' %}

{% block body_class %}buyer_category_show category show{% endblock %}
{% block buyer_content %}
    <h1>
        <img src="http://harvestcloud.org/demo/images/category/{{ category.slug }}.jpg" alt="{{ category.title }}" />
        {{ category.title }}
    </h1>

    {% if category.products %}
        <div class="square product panels">
            {% for product in category.products %}
              <a href="{{ path('Profile_product_show', { 'product_slug': product.slug, 'slug': product.seller.slug }) }}" class="panel">
                  <div class="inner">
                      <div class="thumbnail">
                          <img src="http://harvestcloud.org/demo/images/category/{{ product.category.slug }}.jpg" alt="{{ product.name }}" />
                      </div><!-- .thumbnail -->
                      <div class="details">
                          <h4>{{ product.name }}</h4>
                          <div class="price">${{ product.price }}/{{ product.category.unitDescriptionSingular }}</div>
                          <div class="quantity">{{ product.quantityAvailableForCart }} {{ product.unitAvailableForCart }} available</div>
                          <div class="seller">{{ product.seller.handle }}</div>
                          <div class="location">{{ product.location.cityState }}</div>
                      </div><!-- .details -->
                      <div class="clear"></div>
                  </div><!-- .inner -->
              </a><!-- .panel -->
              <span class="clear_if_needed"></span>
            {% endfor %}
            <div class="clear"></div>
        </div><!-- .square.product.panels -->
    {% endif %}
{% endblock %}
