{% extends 'HarvestCloudCoreBundle:Buyer:layout.html.twig' %}

{% block body_class %}buyer_category_show{% endblock %}
{% block buyer_content %}
    <h1>{{ category.title }}</h1>
    <div class="product panels">
        {% for product in category.products %}
            <a class="panel" href="{{ path('Profile_product_show', { 'product_slug': product.slug, 'slug': product.seller.slug }) }}">
                <div class="inner">
                    <div class="thumbnail">
                        <img src="/images/sandbox/products/{{ category.slug }}.jpg" alt="{{ category.title }}" />
                    </div><!-- .thumbnail -->
                    <div class="details">
                        <h4>{{ product.name }}</h4>
                        <div class="seller">By {{ product.seller }}</div>
                        <div class="location">In {{ product.location.cityState }}</div>
                        <div class="price">${{ product.price }}/{{ category.unitDescriptionSingular }}</div>
                        <div class="quantity">{{ product.quantityAvailableForCart }} {{ product.unitAvailableForCart }} available</div>
                    </div><!-- .details -->
                    <div class="clear"></div>
                </div><!-- .inner -->
            </a><!--.panel -->
        {% endfor %}
    </div><!-- .product.panels -->
{% endblock %}
