{% extends 'HarvestCloudCoreBundle:Buyer:layout.html.twig' %}

{% block body_class %}buyer_category_show{% endblock %}
{% block buyer_content %}
    <h1>{{ category.title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Seller</th>
                <th>Location</th>
                <th>Price</th>
                <th>Quantity Available</th>
            </tr>
        </thead>
        <tbody>
            {% for product in category.products %}
                <tr>
                    <td><a href="{{ path('Buyer_product_show', { 'id': product.id, 'path': category.path }) }}">{{ product.name }}</a></td>
                    <td>{{ product.seller.name }}</td>
                    <td class="location">{{ product.location.cityState }}</td>
                    <td class="price">${{ product.price }}</td>
                    <td class="quantity">{{ product.quantityAvailableForCart }} {{ product.unitAvailableForCart }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
