{% extends 'HarvestCloudCoreBundle:Hub:layout.html.twig' %}

{% block content %}
    <h1>{{ profile }} Recurring Hub Windows</h1>

    <div>
        <table class="standard week">
            <thead>
                <tr>
                    <th class="time">Start Time</th>
                    {% for day in weekView.days %}
                        <th class="{{ day.class }} day">{{ day.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for time in weekView.times %}
                    <tr>
                        <td class="time_label">{{ time.label }}</td>
                        {% for day in time.days %}
                            {% if day.objects %}
                                <td class="highlight">
                                    {% for object in day.objects %}
                                        <div><a href="{{ path('Hub_window_maker_show', { 'id': object.id }) }}">$2.05</a></div>
                                    {% endfor %}
                                </td>
                            {% elseif profile.id == app.user.currentProfile.id %}
                                <td>
                                    <form action="{{ path('Hub_window_maker_quick_add', { 'slug': app.user.currentProfile.slug, 'day': day.dateTime.format('N'), 'time': time.time_key }) }}" method="post">
                                        <input type="submit" class="small submit button" value="Add" />
                                    </form>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table><!-- .standard.calendar -->
    </div>
{% endblock %}
