{% extends 'HarvestCloudCoreBundle::Order/layout.html.twig' %}

{% block content %}
    <h1>Order {{ order.numberForHumans }}</h1>
    <div class="actions">
        {% if order.canBeAcceptedBySeller %}
            <form action="{{ path('Order_accept', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Accept" />
            </form>
        {% endif %}
        {% if order.canBeRejectedBySeller %}
            <form action="{{ path('Order_reject', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Reject" />
            </form>
        {% endif %}
        {% if order.canBePickedBySeller %}
            <form action="{{ path('Order_pick', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Pick" />
            </form>
        {% endif %}
        {% if order.canBeMarkedReadyForDispatchedBySeller %}
            <form action="{{ path('Order_mark_ready_for_dispatch', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Ready for dispatch" />
            </form>
        {% endif %}
        {% if order.canBeDispatchedBySeller %}
            <form action="{{ path('Order_dispatch', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Dispatch" />
            </form>
        {% endif %}
        {% if order.canBeCanceledByBuyer %}
            <form action="{{ path('Order_cancel', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Cancel" />
            </form>
        {% endif %}
        {% if order.canBeReceivedByHub %}
            <form action="{{ path('Order_receive', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Receive" />
            </form>
        {% endif %}
        {% if order.canBeMarkedReadyToBePickedUpFromHub %}
            <form action="{{ path('Order_mark_as_ready_to_pickup', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Ready to pick up" />
            </form>
        {% endif %}
        {% if order.canBeReleasedByHub %}
            <form action="{{ path('Order_release', { 'id': order.numberForPath }) }}" method="post">
                <input type="submit" class="submit button" value="Release" />
            </form>
        {% endif %}
        <div class="clear"></div>
    </div><!-- .actions -->
    <div class="two_equal_columns">
        <div class="left column">
            <h4>Order Details</h4>
            <table class="nvp">
                <tr>
                    <th>Order Number</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <th>Buyer</th>
                    <td>{{ order.buyer.name }}</td>
                </tr>
                <tr>
                    <th>Hub</th>
                    <td>{{ order.hub.name }}</td>
                </tr>
                <tr>
                    <th>Window</th>
                    <td>{{ order.sellerWindow.startTime|date('g:ia') }} - {{ order.sellerWindow.endTime|date('g:ia D j M') }}</td>
                </tr>
                <tr>
                    <th>Sub Total</th>
                    <td>${{ order.subTotal }}</td>
                </tr>
                <tr>
                    <th>Hub Fee</th>
                    <td>${{ order.hubFee }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>${{ order.total }}</td>
                </tr>
            </table><!-- .nvp -->
        </div><!-- .left.column -->
        <div class="right column">
            <h4>Line Items</h4>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="center">Quantity</th>
                        <th class="center">Price</th>
                        <th class="center">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lineItem in order.lineItems %}
                        <tr>
                            <td>{{ lineItem.product.name }}</td>
                            <td class="center">{{ lineItem.quantity }} {{ lineItem.unit }}</td>
                            <td class="center">${{ lineItem.price|number_format(2) }}/{{lineItem.product.category.unitDescriptionSingular }}</td>
                            <td class="currency">${{ lineItem.subTotal|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- .right.column -->
        <div class="clear"></div>
    </div><!-- .two_equal_columns -->
{% endblock %}
