{% extends 'HarvestCloudCoreBundle::Profile/layout.html.twig' %}

{% block content %}
    <h1>
        {% if profile.thumbnailPath %}
          <img src="{{ app.user.currentProfile.thumbnailWebPath }}" />
        {% endif %}
        {{ profile.name }} ({{ profile.slug }})
    </h1>

    <div class="two_equal_columns">
        <div class="left column">
            <h2>Profile Details</h2>
            <table class="nvp">
                <tr>
                    <th>Name</th>
                    <td>{{ profile.name }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ profile.defaultLocation.address }}</td>
                </tr>
            </table><!-- .nvp -->
        </div><!-- .left.column -->
        <div class="right column">
            {% if profile.hasSellerHubRefsAsSeller %}
                <h2>{{ profile }} delivers to the following hubs</h2>
                <table>
                    {% for sellerHubRef in profile.sellerHubRefsAsSeller %}
                        <tr>
                            <td><a href="{{ path('Profile_show', { 'slug': sellerHubRef.hub.slug }) }}">{{ sellerHubRef.hub }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if profile.hasSellerHubRefsAsHub %}
                <h2>Sellers that deliver to {{ profile }}</h2>
                <table>
                    {% for sellerHubRef in profile.sellerHubRefsAsHub %}
                        <tr>
                            <td><a href="{{ path('Profile_show', { 'slug': sellerHubRef.seller.slug }) }}">{{ sellerHubRef.seller }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div><!-- .right.column -->
        <div class="clear"></div>
    </div><!-- .two_equal_columns -->
    <p>
        {% if app.user.currentProfile.id == profile.id %}
            <form method="get" action="{{ path('Profile_edit', { 'slug': profile.slug }) }}">
                <input type="submit" value="Edit" />
            </form>
        {% endif %}
    </p>
    {% if products %}
        <h2>Currently for sale</h2>
        <div class="panels">
            {% for product in products %}
                <a href="{{ path('Profile_product_show', { 'product_slug': product.slug, 'slug': product.seller.slug }) }}" class="panel" title="{{ product.name }}">
                    <div class="inner">
                        <div class="thumbnail"><img src="/images/sandbox/products/{{ product.category.slug }}.jpg" alt="{{ product.name }}" title="{{ product.name }}" /></div>
                        <div class="details">
                            <h4>{{ product.name }}</h4>
                            <div class="price">${{ product.price }}/{{ product.category.unitDescriptionSingular }}</div>
                            <div class="quantity">{{ product.quantityAvailableForCart }} {{ product.unitAvailableForCart }} available</div>
                        </div><!-- .details -->
                        <div class="clear"></div>
                    </div><!-- .inner -->
                </a><!-- .panel -->
            {% endfor %}
            <div class="clear"></div>
        </div><!-- .panels -->
    {% endif %}
{% endblock %}
