{% extends 'HarvestCloudCoreBundle::Profile/layout.html.twig' %}

{% block map_js %}
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ goole_api_key }}&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {

        var hubLatLng = new google.maps.LatLng({{ profile.defaultLocation.latLng }});

        var mapOptions = {
          center: hubLatLng,
          zoom: 16
        };
        var map = new google.maps.Map(document.getElementById("mapCanvas"),
            mapOptions);

        var marker = new google.maps.Marker({
            position: hubLatLng,
            map: map,
            title:"{{ profile }}"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}
    <h1>
        {% if profile.profilePicture %}
          <img src="{{ profile.slug}}.jpg" />
        {% endif %}
        {{ profile.name }} ({{ profile.slug }})
    </h1>

    <div class="two_equal_columns">
        <div class="left column">
            <h2>Profile Details</h2>
            <div class="panel">
                <div class="inner">
                    <table class="nvp">
                        <tr>
                            <th>Name</th>
                            <td>{{ profile.name }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ profile.defaultLocation.address }}</td>
                        </tr>
                    </table><!-- .nvp -->
                </div><!-- .inner -->
            </div><!-- .panel -->

            <div class="panel">
                <div class="inner">
                    <div style="height: 400px" id="mapCanvas"></div>
                </div><!-- .inner -->
            </div><!-- .panel -->
        </div><!-- .left.column -->
        <div class="right column">
            {% if profile.hasSellerHubRefsAsSeller %}
                <h2>{{ profile }} delivers to the following hubs</h2>
                <div class="panels">
                    {% for sellerHubRef in profile.sellerHubRefsAsSeller %}
                        <a href="{{ path('Profile_show', { 'slug': sellerHubRef.hub.slug }) }}" class="panel" title="{{ sellerHubRef.hub }}">
                            <div class="inner">
                                <div class="thumbnail">
                                    {% if sellerHubRef.hub.profilePicture %}
                                        <img src="{{ sellerHubRef.hub.slug }}.jpg" />
                                    {% else %}
                                        <img src="/images/sandbox/avatars/{{ sellerHubRef.hub.id }}.png" />
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <h4>{{ sellerHubRef.hub }}</h4>
                                    <div class="address">{{ sellerHubRef.hub.defaultLocation.cityState }}</div>
                                </div><!-- .details -->
                                <div class="clear"></div>
                            </div><!-- .inner -->
                        </a><!-- .panel -->
                    {% endfor %}
                    <div class="clear"></div>
                </div><!-- .panels -->
            {% endif %}
            {% if profile.hasSellerHubRefsAsHub %}
                <h2>Sellers that deliver to {{ profile }}</h2>
                <div class="panels">
                    {% for sellerHubRef in profile.sellerHubRefsAsHub %}
                        <a href="{{ path('Profile_show', { 'slug': sellerHubRef.seller.slug }) }}" class="panel" title="{{ sellerHubRef.seller }}">
                            <div class="inner">
                                <div class="thumbnail">
                                    {% if sellerHubRef.seller.profilePicture %}
                                        <img src="{{ sellerHubRef.seller.slug }}.jpg" />
                                    {% else %}
                                        <img src="/images/sandbox/avatars/{{ sellerHubRef.seller.id }}.png" />
                                    {% endif %}
                                </div>
                                <div class="details">
                                    <h4>{{ sellerHubRef.seller }}</h4>
                                    <div class="address">{{ sellerHubRef.seller.defaultLocation.cityState }}</div>
                                </div><!-- .details -->
                                <div class="clear"></div>
                            </div><!-- .inner -->
                        </a><!-- .panel -->
                    {% endfor %}
                    <div class="clear"></div>
                </div><!-- .panels -->
            {% endif %}
        </div><!-- .right.column -->
        <div class="clear"></div>
    </div><!-- .two_equal_columns -->
    <p>
        {% if app.user.currentProfile.id == profile.id %}
            <form method="get" action="{{ path('Profile_edit', { 'slug': profile.slug }) }}">
                <input type="submit" value="Edit" />
            </form>
        {% endif %}
    </p>
    {% if products %}
        <h2>Currently for sale</h2>
        <div class="panels">
            {% for product in products %}
                <a href="{{ path('Profile_product_show', { 'product_slug': product.slug, 'slug': product.seller.slug }) }}" class="panel" title="{{ product.name }}">
                    <div class="inner">
                        <div class="thumbnail"><img src="/images/sandbox/products/{{ product.category.slug }}.jpg" alt="{{ product.name }}" title="{{ product.name }}" /></div>
                        <div class="details">
                            <h4>{{ product.name }}</h4>
                            <div class="price">${{ product.price }}/{{ product.category.unitDescriptionSingular }}</div>
                            <div class="quantity">{{ product.quantityAvailableForCart }} {{ product.unitAvailableForCart }} available</div>
                        </div><!-- .details -->
                        <div class="clear"></div>
                    </div><!-- .inner -->
                </a><!-- .panel -->
            {% endfor %}
            <div class="clear"></div>
        </div><!-- .panels -->
    {% endif %}
{% endblock %}
